# Financial Predictive Modeling Project

## Project Summary
The objective of this project is to build a predictive model that estimates key financial metrics based on historical and synthetic data. By leveraging structured data, feature engineering, and regression modeling, the project aims to provide actionable insights for decision-makers. This model is intended to identify trends, support scenario analysis, and improve the accuracy of financial forecasts in a controlled environment.

Accurate predictions are critical for stakeholders who rely on timely insights to make investment or operational decisions. Even small improvements in predictive accuracy can translate into better risk management, resource allocation, and strategic planning. By creating a robust and reproducible pipeline, this project ensures stakeholders can trust and act upon the results consistently.

## Stakeholder Persona / Context
| Stakeholder       | Role / Needs | Interests & Concerns |
|------------------|-------------|--------------------|
| Investment Analyst | Uses model outputs for portfolio strategy | Accuracy, timely delivery, interpretability |
| Risk Manager       | Monitors potential exposure | Model reliability, error tracking, transparency |
| Team Lead / PM     | Oversees project progress | Reproducibility, workflow clarity, deployment readiness |

**Context Description:**  
The primary users of this project are analysts and managers within a financial team who need clear, interpretable, and timely predictions. They care about accuracy, reliability, and the ability to audit and reproduce results. Ensuring a smooth workflow and clear communication of outputs is crucial for their decision-making.

## Python Fundamentals Summary

In [19]:
import pandas as pd
import numpy as np
import sys
from pathlib import Path

project_root = Path().resolve().parent
sys.path.append(str(project_root))
from src.utils import parse_date_column, convert_column_type, fill_missing_values


data = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, np.nan, 35, 40],
    'salary': [70000, 80000, np.nan, 90000],
    'join_date': ['2023-01-15', '2022-11-30', '2023-03-20', '2022-03-20']
})

data

      name   age   salary   join_date
0    Alice  25.0  70000.0  2023-01-15
1      Bob   NaN  80000.0  2022-11-30
2  Charlie  35.0      NaN  2023-03-20
3    David  40.0  90000.0  2022-03-20

In [20]:
# Convert age and salary columns to float
data = convert_column_type(data, column='age', dtype='int')
data = convert_column_type(data, column='salary', dtype='float')
data['join_date'] = pd.to_datetime(data['join_date'], infer_datetime_format=True, errors='coerce')
data

/var/folders/xt/g4dt2xmn47x1nq6hz8n9pvl80000gn/T/ipykernel_34565/3626987102.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data['join_date'] = pd.to_datetime(data['join_date'], infer_datetime_format=True, errors='coerce')

      name   age   salary  join_date
0    Alice  25.0  70000.0 2023-01-15
1      Bob   NaN  80000.0 2022-11-30
2  Charlie  35.0      NaN 2023-03-20
3    David  40.0  90000.0 2022-03-20

In [21]:
# Fill missing values
data = fill_missing_values(data, strategy='mean')
data

      name        age   salary  join_date
0    Alice  25.000000  70000.0 2023-01-15
1      Bob  33.333333  80000.0 2022-11-30
2  Charlie  35.000000  80000.0 2023-03-20
3    David  40.000000  90000.0 2022-03-20

In [25]:
# Basic NumPy operations
ages = data['age'].to_numpy()
mean_age = np.mean(ages)
print("Mean age:", mean_age)

salaries = data['salary'].to_numpy()
total_salary = np.sum(salaries)
print("Total salary:", total_salary)

# Basic pandas operations
# Add a new calculated column
data['salary_in_k'] = data['salary'] / 1000
print("\nDataFrame with new column 'salary_in_k':")
print(data)

# Filter rows
high_salary = data[data['salary'] > 75000]
print("\nFiltered DataFrame (salary > 75k):")
print(high_salary)

Mean age: 33.333333333333336
Total salary: 320000.0

DataFrame with new column 'salary_in_k':
      name        age   salary  join_date  salary_in_k
0    Alice  25.000000  70000.0 2023-01-15         70.0
1      Bob  33.333333  80000.0 2022-11-30         80.0
2  Charlie  35.000000  80000.0 2023-03-20         80.0
3    David  40.000000  90000.0 2022-03-20         90.0

Filtered DataFrame (salary > 75k):
      name        age   salary  join_date  salary_in_k
1      Bob  33.333333  80000.0 2022-11-30         80.0
2  Charlie  35.000000  80000.0 2023-03-20         80.0
3    David  40.000000  90000.0 2022-03-20         90.0